<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.mapper.RoleMapper">

    <select id="findRolesByUserId" resultType="com.boot.entity.Role" parameterType="integer">
        select role.id,role.`name`,role.`code` from t_role role
        LEFT JOIN t_role_user ru on ru.role_id=role.id
        WHERE ru.user_id=#{userId}
    </select>

    <select id="findRolesByUrl" resultType="com.boot.entity.Role" parameterType="string">
        select role.id,role.`name`,role.`code` from t_role role
        LEFT JOIN t_role_menu rm on rm.role_id=role.id
        LEFT JOIN t_menu m on m.id=rm.menu_id
        WHERE m.url=#{url};
    </select>
</mapper>
