<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>系统首页</title>
</head>
<body>
<h1 style="background-color: #cc6297">系统首页</h1>

<a th:href="@{/admin/api}">/admin/api</a><br/>

<a th:href="@{/user/api}">/user/api</a><br/>
<a th:href="@{/app/api}">/app/api</a><br/>

<a th:href="@{/admin/api/a}">/admin/api/a</a><br/>
<a th:href="@{/user/api/my/center}">/user/api/my/center</a><br/>
<a th:href="@{/admin/api/a/b/c/d}">/admin/api/a/b/c/d</a><br/>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="退出">
</form>

</body>
</html>